/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: assistant, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(86, 61, 124, 0.2);
  text-align: center;
}

h1 {
  font-family: DIEGO, sans-serif;
  text-transform: uppercase;
  font-size: 106px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 300px;
}

h2 {
  font-family: DIEGO, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}
